* {
  margin: 0;
  padding: 0;
}

nav {
  padding: 20px 0px 20px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #ffffff;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

nav > ul > li {
  margin: 0px 15px;
}

nav > ul > li > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #6d6e71;
}

nav > ul > li > a > p {
  margin: 5px 0px ;
  font-size: 0.75rem;
  font-weight: 700;
}

/* nav > ul > li > a:is(:active , :focus ){
    color: #61B846;
    background-color: red;
} */
