.addItem header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 5px 0px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.addItem header > div {
  margin: 0px 10px;
}

.userDetail {
  display: flex;
  align-items: center;
}

.userDetail .userName {
  margin: 2px 10px;
  color: #024f9d;
  font-weight: 600;
  font-size: 25px;
}

.userDetail .role {
  margin: 2px 10px;
  color: #61b846;
  font-weight: 600;
  font-size: 25px;
}

.backArrow {
  margin-right: 20px;
}

.sep {
  width: 100%;
  height: 3px;
  background-color: #d9d9d9;
}

.addItem h3 {
  color: #024f9d;
  font-size: 20px;
  font-weight: 600;
  margin-left: 55px;
}

.imageInput {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 90%;
  height: 143px;
  margin: 0px auto;
  background-color: #d9d9d9;
  border-radius: 15px;
}

.itemPhoto {
  width: 100%;
  display: flex;
  justify-content: center;
}
